.buy-now-btn {
  background-color: var(--color-btn-buynow-bg);
  width: 100%;
  max-width: 320px;
  height: 64px;
  color: var(--color-btn-buynow-text);
  font-family: var(--font-family-bold);
  font-weight: var(--font-weight-title-highlight);
  font-size: var(--font-size-secondary);
  border: none;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
}
