.content-subtitle {
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
  text-align: center;
  color: var(--color-violet);
  margin: 0;
}
