.content-secondary {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-subtitle);
  text-align: center;
  color: var(--color-black);
  margin: 0;
}
