.content-title {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  text-align: center;
  color: var(--color-black);
  margin: 0;
}

.content-title-highlight {
  font-weight: var(--font-weight-title-highlight);
  color: var(--color-violet);
}
