.contact {
  padding-top: 120px;
}

/* 
  CONTACT INFORMATION
*/
.contact-info {
  padding: 0 16px 71px;
}

.contact-image {
  margin: 0 auto;
}

.contact-title {
  padding: 70px 0 23px;
}

/* 
  CONTACT CONTENT
*/
.contact-form {
  background-color: var(--background-color-primary);
  padding: 60px 16px;
  max-width: 480px;
  margin: 0 auto;
}

.contact-form-subtitle {
  font-size: var(--font-size-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.contact-form-box {
  background-color: var(--background-color-primary);
  width: 100%;
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-subtitle);
  margin-bottom: 29px;
}

.contact-form-query {
  border-bottom: 1px solid #bdbdbd;
}

.contact-form-box::placeholder {
  color: #bdbdbd;
}

.contact-btn {
  background-color: var(--color-primary);
  max-width: 100%;
}

.contact-contact {
  margin: 0 auto;
  padding-bottom: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 13px;
}

/* 
  RESPONSIVE FOR 768px SCREEN
*/
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 73px;
  }

  /* 
    CONTACT INFORMATION
  */
  .contact-info {
    padding: 0 112px 71px;
  }

  /* 
    CONTACT CONTENT
  */
  .contact-form {
    border-radius: 3px;
  }

  .contact-item {
    padding-bottom: 27px;
  }

  .contact-contact {
    padding: 40px 0 48px;
  }
}

/* 
    RESPONSIVE FOR 1440px SCREEN
  */
@media screen and (min-width: 1440px) {
  .contact {
    padding: 160px 135px 0;
  }

  /* 
    CONTACT INFORMATION
  */
  .contact-info {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .contact-intro {
    max-width: 570px;
  }

  .contact-image {
    padding-right: 108px;
  }

  /* 
    CONTACT CONTENT
  */
  .contact-content {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
  }

  .contact-form {
    margin: 0;
  }

  .contact-item {
    align-items: flex-start;
    gap: 17px;
  }
}
