.features {
    padding: 80px 19px 59px;
}

/* FEATURES INTRODUCTION */
.features-intro {
    padding-bottom: 30px;
}

.features-intro-illustration {
    width: 100%;
    padding-bottom: 70px;
}

.features-intro-title {
    padding-bottom: 19px;
}

.features-intro-paragraph {
    /* letter-spacing: 0.1px; */
}

/* FEATURES CONTENT */
/* .features-content, */
.features-item,
.features-list-profit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-item-title {
    padding: 14px 0 7px;
}

.features-item-list {
    padding: 25px 0;
}

.features-list-profit {
    padding-bottom: 20px;
}

.features-profit-icon {
    padding-bottom: 13px;
}

.features-item-illustration {
    padding-bottom: 30px;
}

.features-illustration-image {
    width: 100%;
    padding-bottom: 5px;
}


