.illustration {
  padding: 80px 16px 0px;
  background-color: #fbfbfb;
}

/* 
ILLUSTRATION INFORMATION
*/
.illustration-image {
  width: 100%;
  max-width: 352px;
  margin: 0 auto;
}

.illustration-intro {
  padding: 70px 0 40px;
}

.illustration-description {
  padding: 18px 0 30px;
}

.illustration-subtitle {
  font-family: var(--font-family-bold);
  font-weight: 900;
}

.illustration-selected-color {
  margin: 0 auto;
}

/* 
ILLUSTRATION CONTENT
*/
.illustration-item-1 { grid-row: 1; }
.illustration-item-2 { grid-row: 3; }
.illustration-item-3 { grid-row: 5; }
.illustration-item-4 { grid-row: 2; }
.illustration-item-5 { grid-row: 4; }
.illustration-item-6 { grid-row: 6; }

.illustration-content {
  padding-bottom: 56px;
  display: grid;
  gap: 24px;
}

.illustration-item {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

/* 
  RESPONSIVE FOR 768px SCREEN
*/
@media screen and (min-width: 768px) {
  /* 
  ILLUSTRATION INFORMATION
  */
  .illustration-intro {
    margin: 0 auto;
    max-width: 544px;
  }

  /* 
  ILLUSTRATION CONTENT
  */
  .illustration-content {
    display: flex;
    flex-direction: column;
  }

  .illustration-item {
    /* flex-grow: 1; */
    width: 360px;
    flex-basis: 50%;
    /* padding-bottom: 16px; */
  }
} 
