:root {
  /* font family */
  --font-family-primary: Poppins;

  /* font size */
  --font-size-primary: 16px;
  --font-size-secondary: 24px;
  --font-size-subtitle: 32px;
  --font-size-title: 48px;

  /* font weight */
  --font-weight-subtitle: 700;
  --font-weight-title: 400;
  --font-weight-title-highlight: 900;
  --font-weight-primary: 300;
  
  /* line height */
  --line-height-title: 56px;
  --line-height-subtitle: 40px;
  --line-height-primary: 32px;
  --line-height-secondary: 36px;

  /* color */
  --color-violet: #5F0F40;
  --color-black: #000000;
  --color-btn-buynow-bg: #FB8B24;
  --color-btn-buynow-text: #FFFFFF;
}
