@import url(./base/reset.css);
@import url(./base/font.css);

@import url(./abstracts/variables.css);

@import url(./components/all.css);

@import url(./layouts/all.css);

body {
    font-family: var(--font-family-primary);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}