<section class="contact">
    <!-- 
      FOOTER INFORMATION
    -->
    <article class="contact-info">
      <figure>
        <img
          src="./assets/images/footer/footer-img.png"
          alt="footer-img"
          class="footer-image"
        />
      </figure>
      <div class="footer-intro">
        <h2 class="footer-title content-title">
          Still have <span class="content-title-highlight">Questions</span>
        </h2>
        <p class="footer-description content-secondary">
          Send us your query and we will be in touch with you as soon as possible
        </p>
      </div>
    </article>
  
    <!-- 
      FOOTER CONTENT
    -->
    <article class="footer-content">
      <form action="#" class="footer-form">
        <label
          for="footer-form-name"
          class="footer-form-subtitle content-subtitle"
        >
          Your Name
          <figure>
            <img
              src="./assets/images/footer/footer-successful-icon.png"
              alt="footer-icon"
              class="footer-icon"
            />
          </figure>
        </label>
        <input
          name="footer-form-name"
          id="footer-form-name"
          class="footer-form-box"
          value="Abir Ahmed"
        />
  
        <label
          for="footer-form-email"
          class="footer-form-subtitle content-subtitle"
        >
          Your Email
          <figure>
            <img
              src="./assets/images/footer/footer-unsuccessful-icon.png"
              alt="footer-icon"
              class="footer-icon"
            />
          </figure>
        </label>
        <input
          name="footer-form-email"
          id="footer-form-email"
          class="footer-form-box"
          value="youremail@email.com"
        />
  
        <label
          for="footer-form-query"
          class="footer-form-subtitle content-subtitle"
        >
          Your Query
        </label>
        <input
          name="footer-form-query"
          id="footer-form-query"
          class="footer-form-box footer-form-query"
          placeholder="type your question here"
        />
  
        <button class="footer-btn btn-primary">Send</button>
      </form>
      
      <div class="footer-contact">
        <article class="footer-item">
          <figure>
            <img
              src="./assets/images/footer/footer-phone-icon.png"
              alt="footer-item-icon"
              class="footer-item-icon"
            />
          </figure>
          <p class="footer-item-info">691-739-5667</p>
        </article>
        <article class="footer-item">
          <figure>
            <img
              src="./assets/images/footer/footer-email-icon.png"
              alt="footer-item-icon"
              class="footer-item-icon"
            />
          </figure>
          <p class="footer-item-info">info@aleyafurniture.com</p>
        </article>
        <article class="footer-item">
          <figure>
            <img
              src="./assets/images/footer/footer-location-icon.png"
              alt="footer-item-icon"
              class="footer-item-icon"
            />
          </figure>
          <p class="footer-item-info">508 Una Mall Suite 276</p>
        </article>
      </div>
    </article>
  
    <p class="footer-copyright">
      © Copyright Brood Designer. All Rights Reserved
    </p>
  </section>
  