<section class="contact">
  <!-- 
      CONTACT INFORMATION
    -->
  <article class="contact-info">
    <figure>
      <img
        src="./assets/images/contact/contact-img.png"
        alt="contact-img"
        class="contact-image"
      />
    </figure>
    <div class="contact-intro">
      <h2 class="contact-title content-title">
        Still have <span class="content-title-highlight">Questions</span>
      </h2>
      <p class="contact-description content-secondary">
        Send us your query and we will be in touch with you as soon as possible
      </p>
    </div>
  </article>

  <!-- 
      CONTACT CONTENT
    -->
  <div class="contact-content">
    <form action="#" class="contact-form">
      <label
        for="contact-form-name"
        class="contact-form-subtitle content-subtitle"
      >
        Your Name
        <figure>
          <img
            src="./assets/images/contact/contact-successful-icon.png"
            alt="contact-icon"
            class="contact-icon"
          />
        </figure>
      </label>
      <input
        name="contact-form-name"
        id="contact-form-name"
        class="contact-form-box"
        value="Abir Ahmed"
      />

      <label
        for="contact-form-email"
        class="contact-form-subtitle content-subtitle"
      >
        Your Email
        <figure>
          <img
            src="./assets/images/contact/contact-unsuccessful-icon.png"
            alt="contact-icon"
            class="contact-icon"
          />
        </figure>
      </label>
      <input
        name="contact-form-email"
        id="contact-form-email"
        class="contact-form-box"
        value="youremail@email.com"
      />

      <label
        for="contact-form-query"
        class="contact-form-subtitle content-subtitle"
      >
        Your Query
      </label>
      <input
        name="contact-form-query"
        id="contact-form-query"
        class="contact-form-box contact-form-query"
        placeholder="type your question here"
      />

      <button class="contact-btn btn-primary">Send</button>
    </form>

    <div class="contact-information">
      <article class="contact-item">
        <figure>
          <img
            src="./assets/images/contact/contact-phone-icon.png"
            alt="contact-item-icon"
            class="contact-item-icon"
          />
        </figure>
        <p class="contact-item-info">691-739-5667</p>
      </article>
      <article class="contact-item">
        <figure>
          <img
            src="./assets/images/contact/contact-email-icon.png"
            alt="contact-item-icon"
            class="contact-item-icon"
          />
        </figure>
        <p class="contact-item-info">info@aleyafurniture.com</p>
      </article>
      <article class="contact-item">
        <figure>
          <img
            src="./assets/images/contact/contact-location-icon.png"
            alt="contact-item-icon"
            class="contact-item-icon"
          />
        </figure>
        <p class="contact-item-info">508 Una Mall Suite 276</p>
      </article>
    </div>
  </div>
</section>
