<section class="extra-features">
  <div class="extra-features-container">
    <figure>
      <img
        src="./assets/images/extra-features/extra-features-img.png"
        alt="extra-features-img"
        class="extra-features-image"
      />
    </figure>
    <article class="extra-features-info">
      <h2 class="extra-features-title content-title-highlight">What Else!</h2>
      <p class="extra-features-description content-secondary">
        We are amazed to share some more features that might help you to make
        your purchase decision. We love our product and we want you to love the
        way we do!
      </p>
      <div class="extra-features-list">
        <article class="extra-features-item">
          <figure>
            <img
              src="./assets/images/extra-features/style-icon.png"
              alt=""
              class="extra-features-item-icon"
            />
          </figure>
          <div class="extra-features-item-content">
            <h3 class="extra-features-item-title content-subtitle">Style</h3>
            <p class="extra-features-item-description content-primary">
              Simple design with plush, highly durable materials and convenient
              removable/reversible cushions
            </p>
          </div>
        </article>
      </div>
    </article>
  </div>
</section>
