<section class="extra-features">
  <!--
    EXTRA FEATURES IMAGE 
  -->
  <figure>
    <img
      src="./assets/images/extra-features/extra-features-img.png"
      alt="extra-features-img"
      class="extra-features-image"
    />
  </figure>

  <!-- 
    EXTRA FEATURES INFORMATION 
  -->
  <article>
    <h2 class="extra-features-title content-title-highlight">What Else!</h2>
    <p class="extra-features-description content-secondary">
      We are amazed to share some more features that might help you to make your
      purchase decision. We love our product and we want you to love the way we
      do!
    </p>
    <div class="extra-features-list">
      <figure class="extra-features-item">
        <img
          src="./assets/images/extra-features/style-icon.png"
          alt="style-icon"
          class="extra-features-item-icon"
        />
        <figcaption>
          <h3 class="extra-features-item-title content-subtitle">Style</h3>
          <p class="content-primary">
            Simple design with plush, highly durable materials and convenient
            removable/reversible cushions
          </p>
        </figcaption>
      </figure>

      <figure class="extra-features-item">
        <img
          src="./assets/images/extra-features/construction-icon.png"
          alt="construction-icon"
          class="extra-features-item-icon"
        />
        <figcaption>
          <h3 class="extra-features-item-title content-subtitle">
            Construction
          </h3>
          <p class="content-primary">
            Durable frame of solid hardwood offers support and longevity chair
            table sofa
          </p>
        </figcaption>
      </figure>

      <figure class="extra-features-item">
        <img
          src="./assets/images/extra-features/materials-icon.png"
          alt="materials-icon"
          class="extra-features-item-icon"
        />
        <figcaption>
          <h3 class="extra-features-item-title content-subtitle">Materials</h3>
          <p class="content-primary">
            Removable back and seat cushions with reversible covers prolong
            life; filled with ultra soft down/feather blend
          </p>
        </figcaption>
      </figure>

      <figure class="extra-features-item">
        <img
          src="./assets/images/extra-features/care-icon.png"
          alt="care-icon"
          class="extra-features-item-icon"
        />
        <figcaption>
          <h3 class="extra-features-item-title content-subtitle">Care</h3>
          <p class="content-primary">
            Moisture repellent, stain resistant fabric; wipe with damp cloth
            chair table sofa
          </p>
        </figcaption>
      </figure>
    </div>
  </article>
</section>
