<section class="features">
  <div class="features-container">
      <!--
            FEATURES INTRODUCTION
         -->
      <article class="features-intro">
        <figure>
          <img
            src="./assets/images/features/main-img.png"
            alt="features-intro-image"
            class="features-intro-illustration"
          />
        </figure>
        <div class="features-intro-description">
          <h2 class="features-intro-title content-title">
            <span class="content-title-highlight">Product Features</span> that you
            gonna love the most
          </h2>
          <p class="features-intro-paragraph content-secondary">
            Our product was being made by user in mind. So it means where this
            product have to be fit in, what is the goal of user before buying the
            product and all the necessaru stuff that is gonna make your decision
            easier to make
          </p>
        </div>
      </article>
      <!--
            FEATURES CONTENT
         -->
      <div class="features-content">
        <article class="features-item">
          <figure>
            <img
              src="./assets/images/features/polyester-icon.png"
              alt="polyester-icon"
              class="features-item-icon"
            />
          </figure>
          <div class="features-item-info">
            <h3 class="features-item-title content-subtitle">100% Polyester</h3>
            <p class="features-item-description content-primary">
              Your interior space will never be the same as the three-seatersss sofa
              as its centerpiece. Polyester is a category of polymers that contain
              the ester functional group in their main chain. As a specific
              material, it most commonly refers to a type called polyethylene
              terephthalate (PET). Polyesters include naturally occurring chemicals,
              such as in the cutin of plant cuticles, as well as synthetics such as
              polybutyrate. Natural polyesters and a few synthetic ones are
              biodegradable, but most synthetic polyesters are not. The material is
              used extensively in clothing.
            </p>
            <ul class="features-item-list">
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">
                  Heavy Duty tested material
                </p>
              </li>
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">Less waste produced</p>
              </li>
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">Easier to clean</p>
              </li>
            </ul>
            <div class="features-item-illustration">
              <figure>
                <img
                  src="./assets/images/features/polyester-1.png"
                  alt="polyester-1"
                  class="features-illustration-image"
                />
              </figure>
              <figure>
                <img
                  src="./assets/images/features/polyester-2.png"
                  alt="polyester-2"
                  class="features-illustration-image"
                />
              </figure>
              <figure>
                <img
                  src="./assets/images/features/polyester-3.png"
                  alt="polyester-3"
                  class="features-illustration-image"
                />
              </figure>
            </div>
          </div>
        </article>
        <article class="features-item">
          <figure>
            <img
              src="./assets/images/features/solid-wood-icon.png"
              alt="solid-wood-icon"
              class="features-item-icon"
            />
          </figure>
          <div class="features-item-info">
            <h3 class="features-item-title content-subtitle">Solid Wood</h3>
            <p class="features-item-description content-primary">
              Your interior space will never be the same as the three-seatersss sofa
              as its centerpiece. Polyester is a category of polymers that contain
              the ester functional group in their main chain. As a specific
              material, it most commonly refers to a type called polyethylene
              terephthalate (PET). Polyesters include naturally occurring chemicals,
              such as in the cutin of plant cuticles, as well as synthetics such as
              polybutyrate. Natural polyesters and a few synthetic ones are
              biodegradable, but most synthetic polyesters are not. The material is
              used extensively in clothing.
            </p>
            <ul class="features-item-list">
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">
                  Heavy Duty tested material
                </p>
              </li>
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">Less waste produced</p>
              </li>
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">Easier to clean</p>
              </li>
            </ul>
            <div class="features-item-illustration">
              <figure>
                <img
                  src="./assets/images/features/solid-wood-1.png"
                  alt="polyester-1"
                  class="features-illustration-image"
                />
              </figure>
              <figure>
                <img
                  src="./assets/images/features/solid-wood-2.png"
                  alt="polyester-2"
                  class="features-illustration-image"
                />
              </figure>
              <figure>
                <img
                  src="./assets/images/features/solid-wood-3.png"
                  alt="polyester-3"
                  class="features-illustration-image"
                />
              </figure>
            </div>
          </div>
        </article>
        <article class="features-item">
          <figure>
            <img
              src="./assets/images/features/polyester-icon.png"
              alt="polyester-icon"
              class="features-item-icon"
            />
          </figure>
          <div class="features-item-info">
            <h3 class="features-item-title content-subtitle">Timeless Design</h3>
            <p class="features-item-description content-primary">
              Your interior space will never be the same as the three-seatersss sofa
              as its centerpiece. Polyester is a category of polymers that contain
              the ester functional group in their main chain. As a specific
              material, it most commonly refers to a type called polyethylene
              terephthalate (PET). Polyesters include naturally occurring chemicals,
              such as in the cutin of plant cuticles, as well as synthetics such as
              polybutyrate. Natural polyesters and a few synthetic ones are
              biodegradable, but most synthetic polyesters are not. The material is
              used extensively in clothing.
            </p>
            <ul class="features-item-list">
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">
                  Heavy Duty tested material
                </p>
              </li>
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">Less waste produced</p>
              </li>
              <li class="features-list-profit">
                <figure>
                  <img
                    src="./assets/images/features/tick-img.png"
                    alt="tick-img"
                    class="features-profit-icon"
                  />
                </figure>
                <p class="features-profit-description">Easier to clean</p>
              </li>
            </ul>
            <div class="features-item-illustration">
              <figure>
                <img
                  src="./assets/images/features/design-1.png"
                  alt="polyester-1"
                  class="features-illustration-image"
                />
              </figure>
              <figure>
                <img
                  src="./assets/images/features/design-2.png"
                  alt="polyester-2"
                  class="features-illustration-image"
                />
              </figure>
              <figure>
                <img
                  src="./assets/images/features/design-3.png"
                  alt="polyester-3"
                  class="features-illustration-image"
                />
              </figure>
            </div>
          </div>
        </article>
        <button type="button" class="btn-primary">Buy Now</button>
      </div>
  </div>
</section>
