<section class="features">
    <!-- 
        FEATURES INTRODUCTION
     -->
    <article class="features-intro">
        <div class="features-intro-description">
            <h2 class="features-intro-title"></h2>
            <p class="features-intro-paragraph">

            </p>
        </div>
        <figure class="features-intro-illustration">
            <img src="./assets/images/features/main-img.png" alt="features-intro-image" class="features-intro-image">
        </figure>
    </article>

    <!-- 
        FEATURES CONTENT
     -->
    <div class="features-content">
        <article class="features-item">
            <figure class="features-item-icon">
                <img src="./assets/images/features/polyester-icon.png" alt="polyester-icon">
            </figure>
            <div class="features-item-info">
                <h3 class="features-item-title"></h3>
                <p class="features-item-description"></p>
                <ul class="features-item-list">
                    <li class="features-list-profit">
                        <figure class="features-profit-icon">
                            <img src="./assets/images/features/tick-img.png" alt="">
                        </figure>
                        <p class="features-profit-description"></p>
                    </li>
                    <li class="features-list-profit">
                        <figure class="features-profit-icon">
                            <img src="./assets/images/features/tick-img.png" alt="">
                        </figure>
                        <p class="features-profit-description"></p>
                    </li>
                    <li class="features-list-profit">
                        <figure class="features-profit-icon">
                            <img src="./assets/images/features/tick-img.png" alt="">
                        </figure>
                        <p class="features-profit-description"></p>
                    </li>
                </ul>
                <div class="features-item-illustration">
                    <figure class="features-illustration-image">
                        <img src="./assets/images/features/polyester-1.png" alt="">
                    </figure>
                    <figure class="features-illustration-image">
                        <img src="./assets/images/features/polyester-2.png" alt="">
                    </figure>
                    <figure class="features-illustration-image">
                        <img src="./assets/images/features/polyester-3.png" alt="">
                    </figure>
                </div>
            </div>
        </article>
    </div>
</section>