<header class="header-nav">
    <h1 class="header-nav-logo">
        <a href="#">
            <img src="./assets/images/header/header-logo.png" alt="header-logo">
        </a>
    </h1>
    <nav class="header-nav-list">
        <figure class="header-list-arrow">
            <img src="./assets/images/header/arrow.png" alt="header-arrow">
        </figure>
        <ul class="header-list-items">
            <li class="header-list-item"><a href="#">Home</a></li>
            <li class="header-list-item"><a href="#">Pricing</a></li>
            <li class="header-list-item"><a href="#">About Us</a></li>
            <li class="header-list-item"><a href="#">Login</a></li>
        </ul>
    </nav>
</header>