<header class="header-nav">
    <h1 class="header-nav-logo">
        <a href="#">
            <img src="./assets/images/header/header-logo.png" alt="header-logo">
        </a>
    </h1>
    <nav class="header-nav-list flex">
        <figure class="header-list-arrow">
            <img src="./assets/images/header/arrow.png" alt="header-arrow">
        </figure>
        <ul class="header-list-items flex">
            <li><a href="#" class="header-list-item">Home</a></li>
            <li><a href="#" class="header-list-item">Pricing</a></li>
            <li><a href="#" class="header-list-item">About Us</a></li>
            <li><a href="#" class="header-list-item">Login</a></li>
        </ul>
    </nav>
</header>
