<header class="header-nav">
  <h1 class="header-nav-logo">
    <a href="#">
      <img
        src="./assets/images/header/header-logo.png"
        alt="header-logo"
        class="header-logo"
      />
    </a>
  </h1>
  <figure>
    <a href="#">
      <img
        src="./assets/images/header/menu-icon.png"
        alt="menu-icon"
        class="header-menu-icon"
      />
    </a>
  </figure>
  <nav class="header-nav-list">
    <figure class="header-list-arrow">
      <img src="./assets/images/header/arrow.png" alt="header-arrow" />
    </figure>
    <ul class="header-list-items">
      <li>
        <a href="#" class="header-list-item header-highlight-item">Home</a>
      </li>
      <li><a href="#" class="header-list-item">Pricing</a></li>
      <li><a href="#" class="header-list-item">About Us</a></li>
      <li><a href="#" class="header-list-item">Login</a></li>
    </ul>
  </nav>
</header>
