<section class="illustration">
  <div class="illustration-container">
    <!--
      ILLUSTRATION INFORMATION
    -->
    <article class="illustration-info">
      <figure>
        <img
          src="./assets/images/illustration/illustration-image.png"
          alt="illustration-image"
          class="illustration-image"
        />
      </figure>
      <div class="illustration-intro">
        <h2 class="content-title">
          Handpicked <span class="content-title-highlight">Images</span>
        </h2>
        <p class="illustration-description content-secondary">
          We selected some best angle of our great product to give you a glimpse
          of what you will experience!
        </p>
        <p class="illustration-subtitle content-primary">Choose color</p>
        <button>
          <img
            src="./assets/images/illustration/illustration-color.png"
            alt="illustration-selected-color"
            class="illustration-selected-color"
          />
        </button>
      </div>
    </article>

    <!--
      ILLUSTRATION CONTENT
    -->
    <div class="illustration-content">
      <article>
        <figure>
          <img
            src="./assets/images/illustration/illustration-content-1.png"
            alt="illustration-item"
            class="illustration-item"
          />
        </figure>
        <figure>
          <img
            src="./assets/images/illustration/illustration-content-2.png"
            alt="illustration-item"
            class="illustration-item"
          />
        </figure>
        <figure>
          <img
            src="./assets/images/illustration/illustration-content-3.png"
            alt="illustration-item"
            class="illustration-item"
          />
        </figure>
      </article>
      <article>
        <figure>
          <img
            src="./assets/images/illustration/illustration-content-4.png"
            alt="illustration-item"
            class="illustration-item"
          />
        </figure>
        <figure>
          <img
            src="./assets/images/illustration/illustration-content-5.png"
            alt="illustration-item"
            class="illustration-item"
          />
        </figure>
        <figure>
          <img
            src="./assets/images/illustration/illustration-content-6.png"
            alt="illustration-item"
            class="illustration-item"
          />
        </figure>
      </article>
    </div>
  </div>
</section>
