<section class="reviews">
  <!-- 
    REVIEWS INFORMATION
  -->
  <article class="reviews-info">
    <figure>
      <img
        src="./assets/images/reviews/reviews-img.png"
        alt="reviews-img"
        class="reviews-image"
      />
    </figure>
    <figure>
      <img
        src="./assets/images/reviews/reviews-img-desktop.png"
        alt="reviews-img-desktop"
        class="reviews-image-desktop"
      />
    </figure>
    <div class="reviews-intro">
      <h2 class="reviews-title content-title">
        <span class="content-title-highlight">Reviews</span> we got so far
      </h2>
      <p class="content-secondary">
        We are amazed to share some more features that might help you to make
        your purchase decision. We love our product and we want you to love the
        way we do!
      </p>
    </div>
  </article>

  <!-- 
    REVIEWS CONTENT
  -->
  <div class="reviews-content">
    <h3 class="reviews-content-title content-subtitle">
      Hand-picked in depth reviews
    </h3>
    <div class="reviews-content-comments">
      <article class="reviews-comments-item">
        <figure>
          <img
            src="./assets/images/reviews/reviews-stars.png"
            alt="reviews-stars"
            class="reviews-comments-stars"
          />
        </figure>
        <h3 class="reviews-comments-user">
          <span class="reviews-comments-user-highlight">Elias</span> said
        </h3>
        <p class="reviews-comments-description content-primary">
          This is a nice-looking sofa. Similar to another reviewer, I had an
          issue with the brackets on the armrest and the seat back being
          installed upside down and reversed (the bracket that belonged on the
          armrest first had to be removed from the seat back, and screwed onto
          the armrest, and vice versa). This made assembly take a bit longer. I
          called customer service and they were able to resolve the issue
          quickly and to my satisfaction. Wayfair has the best and easiest
          customer service that I have experienced in a long time!
        </p>
        <article class="reviews-comments-images">
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-1-1.png"
              alt="reviews-cmt-1-1"
              class="reviews-comments-image"
            />
          </figure>
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-1-2.png"
              alt="reviews-cmt-1-2"
              class="reviews-comments-image"
            />
          </figure>
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-1-3.png"
              alt="reviews-cmt-1-3"
              class="reviews-comments-image"
            />
          </figure>
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-1-4.png"
              alt="reviews-cmt-1-4"
              class="reviews-comments-image"
            />
          </figure>
        </article>
      </article>

      <article class="reviews-comments-item">
        <figure>
          <img
            src="./assets/images/reviews/reviews-stars.png"
            alt="reviews-stars"
            class="reviews-comments-stars"
          />
        </figure>
        <h3 class="reviews-comments-user">
          <span class="reviews-comments-user-highlight">Maren</span> said
        </h3>
        <p class="reviews-comments-description content-primary">
          Bought the cream/beige color and it is fantastic! The fabric is soft
          and looks like linen without the uncomfortability of linen. The seat
          cushions are on the firmer side, but will probably break in with use.
          Putting it together was overall decently easy. Arms could have been
          easier to attach to the couch. The back was missing a bolt hole for me
          to attach a bolt in for stability, but feels pretty stable anyway.
        </p>
        <article class="reviews-comments-images">
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-2-1.png"
              alt="reviews-cmt-2-1"
              class="reviews-comments-image"
            />
          </figure>
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-2-2.png"
              alt="reviews-cmt-2-2"
              class="reviews-comments-image"
            />
          </figure>
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-2-3.png"
              alt="reviews-cmt-2-3"
              class="reviews-comments-image"
            />
          </figure>
          <figure>
            <img
              src="./assets/images/reviews/reviews-cmt-2-4.png"
              alt="reviews-cmt-2-4"
              class="reviews-comments-image"
            />
          </figure>
        </article>
      </article>
    </div>
    <div class="reviews-arrows">
      <figure>
        <img
          src="./assets/images/reviews/reviews-forward-arrow.png"
          alt="reviews-forward-arrow"
        />
      </figure>
      <figure>
        <img
          src="./assets/images/reviews/reviews-backward-arrow.png"
          alt="reviews-backward-arrow"
        />
      </figure>
    </div>
  </div>
</section>
