<section class="trailer">
  <div class="trailer-image">
    <figure class="trailer-img-container">
      <img
        src="./assets/images/trailer/trailer-img.png"
        alt="traier-img"
        class="trailer-img"
      />
      <figure>
        <img
          src="./assets/images/trailer/trailer-play-btn.png"
          alt="trailer-play-btn"
          class="trailer-play-btn"
        />
      </figure>
    </figure>
  </div>
  <div class="trailer-container">
    <div class="trailer-content">
      <h2 class="trailer-content-title content-title">
        <span class="content-title-highlight">Express your </span>taste of
        design
      </h2>
      <p class="trailer-content-text content-secondary">
        A clean and simple silhouette with track arms in a durable performance
        fabric, it's the perfect addition for your living room. Get comfort you
        can literally sink into with this classically styled, overstuffed sofa.
      </p>
      <button type="button" class="buy-now-btn">Buy Now</button>
    </div>
  </div>
</section>
