<section class="trailer">
  <!-- 
    TRAILER VIDEO
  -->
  <div class="trailer-video-container">
    <video src="#" poster="./assets/images/trailer/trailer-video.png"></video>
  </div>

  <!-- 
    TRAILER CONTENT
  -->
  <div class="trailer-content-container">
    <div class="trailer-content">
      <h2 class="trailer-content-title content-title-highlight">
        <span class="content-title">Express your </span>taste of design
      </h2>
      <p class="trailer-content-text content-secondary">
        A clean and simple silhouette with track arms in a durable performance
        fabric, it's the perfect addition for your living room. Get comfort you
        can literally sink into with this classically styled, overstuffed sofa.
      </p>
      <button type="button" class="btn-primary">Buy Now</button>
    </div>
  </div>
</section>
