@import url(/styles/variables.css);

body {
    margin: 0px auto;
    width: 1440px;
    height: 7494.38px;
}
.flex {
    display: flex;
}

/* START HEADER AND BANNER SECTION */
.main-header {
    background-image:  url("/images/header-and-banner/header-bg.png");
    background-repeat: no-repeat;
    height: 949px;
}
.header-wrap {
    padding: 0px 40px;
    height: 156px;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    justify-content: space-between;
}
.nav-list {
    list-style-type: none;
}
.nav-item {
    padding-right: 41px;
    font-family: var(--font-family-primary);
    color: var(--white);
    font-size: 15px;
    line-height: 27px;
}
.header-logo {
    padding-left: 9px;
}
.header-nav-form {
    width: 436px;
    height: 54px;
    justify-content: space-between;
}
.header-nav-form .email {
    font-family: var(--font-family-primary);
    border-radius: 39px;
    border: none;
    width: 273px;
    /* padding: 19px 0px 19px 39px; */
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
} 
.header-nav-form .email::placeholder {
    font-family: var(--font-family-primary);
    font-size: 14px;
    color: #18171D;
    padding: 19px 39px;
    letter-spacing: 0.1px;
}
.header-nav-form .submit {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 500;
    padding: 19px 38px;
    border-radius: 35px;
    width: 141px;
    border: none;
    background-color: var(--white);
    color: #EF2779;
}
.banner {
    height: 792px;
    /* padding: 104px 82px; */
    flex-direction: column;
    justify-content: flex-end;
}
.content {
    width: 1626.77px;
    height: 531px;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 130px;
    position: relative;
    left: -169px;
}
.image {
    flex-direction: column;
    align-items: flex-end;
    width: 950px;
    height: 531px;
    margin-right: 87px;
    box-shadow: 20px 20px 20px -25px;
}
.nav-bar {
    height: 42px;
    width: 950px;
    background-color: #E2E3E5;
    border-top-right-radius: 3px;
    align-items: center;
    padding-right: 23px;
}
.address-bar {
    height: 50%;
    width: 950px;
    border-radius: 3px;
    background-color: var(--white);
}
.screenshot {
    width: 950px;
    height: 489px;
    justify-content: flex-end;
}
.text {
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-family-primary);
    height: 379px;
    width: 420px;
    padding-top: 50px;
}
.text h2 {
    width: 321px;
    height: 131px;
    margin: 0px 0px 27px 0px;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: var(--white);
}
.text p {
    width: 298px;
    height: 40px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--white);
    margin-bottom: 70px;
}
.text button {
    width: 236px;
    height: 65px;
    border-radius: 35px;
    border: none;
    color: #38A3F1;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    justify-content: center;
    align-items: center;
}
/* END HEADER AND BANNER SECTION */

/* START FEATURES SECTION */
.features {
    height: 612px;
    flex-direction: column;
}
.feature-title {
    width: 318px;
    height: 184px;
    flex-direction: column;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 70px auto;
}
.feature-title h3 {
    color: var(--black);
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
}
.feature-title h2 {
    color: var(--black);
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    margin: 0;
}
.feature-title p {
    text-align: center;
    color: var(--black);
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}
.feature-content {
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.feature-item {
    flex-direction: column;
    width: 300px;
    margin: 0px 26px;
}
.item-title {
    flex-direction: row;
    height: 115px;
}
.item-icon {
    align-items: center;
}
.item-info {
    align-items: center;
    padding: 10px;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: var(--black);
    letter-spacing: 0.1px;
}
.item-content p {
    text-align: justify;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
}
/* END FEATURES SECTION */


.hero{
    height: calc(1271px - 80px - 135px);
    justify-content: center;
    padding: 80px 0px 135px 0px;
}
.hero-content {
    height: 181px;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.text-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-content h2, h4 {
    text-align: center;
    font-family: var(--font-family-primary);
    color: var(--black);
}
.text-content h2 {
    width: 296px;
    margin: 0;
    font-weight: 400;
    font-size: 46px;
    margin-bottom: 27px;
}
.text-content h4 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}
.button-content {
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 75px;
    
}
.button-content button {
    background-color: #38A3F1;
    width: 236px;
    height: 65px;
    color: var(--white);
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 22px;
    border: none;
    border-radius: 35px;
}
.screen-content {
    justify-content: center;
}

