:root {
    /* font family */
    --font-family-primary: Roboto;

    /* font size */
    --font-size-primary: 16px;
    --font-size-secondary: 18px;
    
    /* color */
    --white: #FFFFFF;
    --black: #252B42;
  }